<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xmlparsingtest.ranglerz.com.xmlparsingtest">


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RandomTest"
            android:label="@string/title_activity_random_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewAnswers"
            android:label="@string/title_activity_review_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAnswer"
            android:label="@string/title_activity_show_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAnswerLearning"
            android:label="@string/title_activity_show_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAnswerLearningCaseStudy"
            android:label="@string/title_activity_show_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAnswerCategoryTest"
            android:label="@string/title_activity_show_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAnswerFavourite"
            android:label="@string/title_activity_show_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryTest"
            android:label="@string/title_activity_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomTestCategory"
            android:label="@string/title_activity_random_test_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewAnswersCategoryTest"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewAnswerLearning"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewAnswerLearningCaseStudy"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewAnswerFavourite"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowFlaggedQuestions"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowFlaggedQuestionCategory"
            android:label="@string/title_activity_review_answers_category_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnByChapter"
            android:label="@string/title_activity_learn_by_chapter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestLearnByChapter"
            android:label="@string/title_activity_learn_by_chapter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestCaseStudyByChapter"
            android:label="@string/title_activity_learn_by_chapter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu_Activity"
            android:label="@string/title_activity_menu_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutTest"
            android:label="@string/title_activity_about_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PracticeFavourite"
            android:label="Practice Favourite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
